div  {
    border: 1px solid blue;
    padding: 25px;
}

h1  {
    font-family: Arial; 
    font-style: italic;
}

li {
    margin: 10px;
    font-style: italic;
}

.image {
    border-radius: 50px;
}