body
{
    background-image: url("https://w.wallha.com/ws/12/52XmPLD0.jpg");
}
div  {
    border: 1px solid blue;
    padding: 25px;
    box-shadow: 5px 5px 15px 5px black;
    background-color: rgba(255, 235, 204, 0.75) ;
}
h1  {
    font-family: Arial; 
    font-style: italic;
}

li {
    margin: 10px;
    font-style: italic;
}

.image {
    border-radius: 50px;
}